:root {
    --length: 10px;
    --black: #000;
    --black2: #272727;
    --red1: #ff2727;
}

body {
    zoom: 135%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container, #line-left, 
#pokedex-painel .pokedex-item, 
#pokedex-painel .item, .three,
.three .item {
    display: flex;
}

#pokedex-painel .pokedex-item:first-child {
    justify-content: center;
}

.container {
    margin: 5% 22% 0%;
}

#pokedex {
    width: 380px;
    height: 600px;
    border-radius: 30px 0 0 30px;
    background-color: var(--red1);
    box-shadow: 0px 0px 0 3px var(--black) inset;
    /* border-block: 7px solid #000; */
}

/* POSITION */
#right-col .one > .pokedex-item, 
#line-left, #left-col, #left-col > .one {
    position: relative;
}

.line-middle, #line-right,
#line-top, #left-col .line-middle {
    position: absolute;
}

/* ROW 1 */
#line-left, #right-col .line-middle, #line-right {
    background-color: var(--red1);
}

#line-left {
    padding: 18px 15px;
    height: 32px;
    width: 260px;
    border-top-left-radius: 30px;
    z-index: 1;
}

.pokedex-item .line-middle:nth-child(2) {
    height: 80px;
    width: 180px;
    border-bottom-right-radius: var(--length);
    border-bottom: 3px solid;
}

.pokedex-item .line-middle:nth-child(3) {
    height: 30px;
    width: 30px;
    left: 11em;
}

.pokedex-item .line-middle:nth-child(4) {
    height: 36.6px;
    width: 170px;
    right: -3.12em;
    top: 0em;
    border-bottom: 3px solid;
    z-index: 1;
}


#line-right {
    height: 40px;
    width: 122px;
    left: 9.3em;
    top: 2.5em;
    transform: rotate(-40deg);
    border-bottom: 3px solid;
    z-index: 1;
}

#line-left .circle-large {
    width: 80px;
    height: 80px;
    border-radius: 55px;
    background-color: #fff;
}

.circle-large .circle-med {
    position: relative;
    width: 70px;
    height: 70px;
    border-radius: 55px;
    background-color: #71cbff;
    top: .3em;
    left: .35em;
}

#line-left .circle-small {
    width: 20px;
    height: 20px;
    border-radius: 35px;
    margin: 0 var(--length);
}

#line-left .circle-small:nth-child(2) {
    background-color: #ff0000;
}

#line-left .circle-small:nth-child(3) {
    background-color: #ffff00;
}

#line-left .circle-small:nth-child(4) {
    background-color: #00ff00;
}

#line-left .circle-small .circle-tiny {
    width: var(--length);
    height: var(--length);
    border-radius: 35px;
    position: relative;
    background-color: rgba(255, 255, 255, 0.235);
    left: .2em;
    top: .2em;
}

/* *Painel* - ROW 2 */
#right-col .two {
    position: relative;
    margin-top: 28%;
    overflow: hidden;
}

#right-col .two::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    transform: rotate(-45deg);
    left: .92em;
    bottom: -1.8em;
    border-right: 3px solid;
    background-color: var(--red1);
}

#pokedex-painel {
    width: 300px;
    height: 240px;
    border-radius: var(--length) var(--length) var(--length) 0;
    border: 3px solid;
    margin: 0 auto;
    background-color: #b6b6b6;
}

#pokedex-painel .pokedex-item:first-child .circle-tiny {
    width: var(--length);
    height: var(--length);
    border-radius: 35px;
    margin: 5% 6% 0 6%;
    background-color: #ff6c6c;
}

#pokedex-painel .pokedex-screen {
    margin: 7% auto 0;
    width: 230px;
    height: 140px;
    background-color:#272727;
    border-radius: 5px;
}

#pokedex-painel .pokedex-item:last-child {
    justify-content: space-between;
    margin: 5% 13% 0;
}

#pokedex-painel .item {
    flex-direction: column;
    align-items: space-between;
}

#pokedex-painel .pokedex-item:last-child .circle-medium {
    width: 15px;
    height: 15px;
    border-radius: 35px;
    background-color: var(--red1);
}

#pokedex-painel .line {
    width: 20px;
    height: 2px;
    background-color: var(--black);
    margin-top: 10%;
}

/* row 3 */
#right-col .three {
    margin-top: 10%;
    justify-content: space-between;
}

#pokedex-btn-circle {
    width: 40px;
    height: 40px;
    border-radius: 35px;
    background-color: var(--black2);
}

#right-col .three .col:first-child {
    padding-left: 7%;
}

#right-col .three .item {
    width: auto;
}

#right-col .three .screen {
    width: 150px;
    height: 100px;
    border-radius: 6px;
    margin-top: 15%;
    background-color: #53b753;
    border: 3px solid;
}

#right-col .three .line {
    width: 50px;
    height: 8px;
    border-radius: 6px;
    margin: 0 7%;
}

#right-col .three .line:first-child {
    background-color: #ff0000;
}

#right-col .three .line:last-child {
    background-color: #4bb1ff;
}

#pokedex-btn-plus .bar, 
#pokedex-btn-plus  .circle-small {
    position: relative;
    border-radius: 5px;
    background-color: var(--black2);
}

#pokedex-btn-plus .bar:first-child {
    width: 80px;
    height: 25px;
    top: 2.2em;
    right: .7em;
}

#pokedex-btn-plus .bar:nth-child(2) {
    width: 25px;
    height: 80px;
    left: 1em;
    bottom: 1em;
}

#pokedex-btn-plus .circle-small {
    width: 20px;
    height: 20px;
    border-radius: 35px;
    background-color: #000;
    bottom: 4.2em;
    left: 1.1em;
}

#pokedex-btn-plus {
    margin-top: 35%;
}

/* MIDDLE */
#middle-col {
    position: relative;
    left: 23.75em;
    bottom: 35.84em;
}

#pokedex-bar {
    width: 50px;
    height: 600px;
    border-top: 3px solid;
    border-bottom: 3px solid;
    border-right: 3px solid;
    background-color: var(--red1);
}

#middle-col .bar {
    position: absolute;
}

#middle-col .bar:nth-child(2), 
#middle-col .bar:last-child {
    width: 50px;
    height: 35px;
    background-color: var(--red1);
    border-top: 3px solid;
    border-bottom: 3px solid;
    border-right: 3px solid;
}

#middle-col .bar:nth-child(2) {
    bottom: 32em;
}

#middle-col .bar:last-child {
    bottom: 1em;
}

/* LEFT */
#left-col, #line-top, 
#left-col .line-middle {
    background-color: var(--red1);
}

#left-col {
    left: 26.85em;
    bottom: 66.47em;
    width: 380px;
    height: 490px;
    border-top-right-radius: var(--length);
    border-bottom-right-radius: var(--length);
}

#line-top {
    width: 160px;
    height: 100px;
    bottom: 9.61em;
}

#left-col .line-middle {
    position: absolute;
    width: 150px;
    height: 60px;
    left: 7.7em;
    bottom: 9.54em;
    transform: rotate(40deg);
}

/* ROW 1 */
#left-col .one {
    background-color: var(--red1);
}

#left-col .one .item {
    position: relative;
    top: 2.1em;
}

#left-col .one .pokedex-screen {
    width: 300px;
    height: 120px;
    margin: 0 auto;
    border-radius: 5px;
    background-color: var(--black2);
}

#left-col .one .pokedex-btn {
    display: grid;
    grid-template: repeat(5, 1fr) / repeat(5, 1fr);
    position: relative;
    top: 2em;
    margin: 0 11%;
    height: 60px;
    background-color: #5dbbff;
}

#left-col .one .pokedex-btn .btn-item {
    height: 30px;
    border: 1px solid;
}

/* ROW 2 */
#left-col .two .circle-item,
#left-col .two .bar-item,
#left-col .two .item,
#left-col .two .btn-item {
    display: flex;
}

#left-col .two .item  {
    margin: 0 8%;
}

#left-col .two .item {
    justify-content: space-between;
    align-items: center;
}

#left-col .two {
    margin-top: 27%;
}

#left-col .two .circle-small {
    width: 20px;
    height: 20px;
    margin: 0 10px;
    border-radius: 35px;
    background-color: #ff0000;
}

#left-col .two .bar {
    width: 50px;
    height: 10px;
    margin: 0 15px;
    border-radius: 5px;
    background-color: var(--black2);
}

#left-col .two .pokedex-btn {
    width: 45px;
    height: 35px;
    background-color: #faebd7;
    border: 1px solid;
}

#left-col .two .item:nth-child(2) .circle-item {
    margin-top: 10%;
}

#left-col .two .item:nth-child(2) {
   margin: 5% 11% 0;
}

#left-col .two .circle-medium {
    width: 50px;
    height: 50px;
    border-radius: 35px;
    background-color: yellow;
}

#left-col .two .circle-medium .circle-small {
    position: relative;
    top: .1em;
    right: .4em;
    width: 30px;
    height: 30px;
    border-radius: 35px;
    background-color: rgba(255, 255, 255, 0.351);
}

#left-col .two .item:last-child  {
    margin: 6% 10% 0;
}

#left-col .two .item:last-child .pokedex-screen {
    width: 125px;
    height: 45px;
    border-radius: 5px;
    background-color: var(--black2);
}